<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-smooch" version="2.0.0">

    <name>Smooch</name>
    <description>Smooch Cordova Plugin for iOS and Android</description>
    <keywords>Smooch,messaging,chat,in-app,support,help</keywords>

    <js-module name="Smooch" src="www/js/smooch-cordova.js">
        <clobbers target="Smooch" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SmoochCordova">
                <param name="ios-package" value="SmoochCordova"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SmoochCordova.h" />
        <source-file src="src/ios/SmoochCordova.m" />

        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreText.framework" />
        <framework src="Foundation.framework" />
        <framework src="libxml2.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="Photos.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="Smooch" type="podspec" spec="~> 12.0.0" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="SmoochCordova">
                <param name="android-package" value="io.smooch.cordova.SmoochCordova"/>
            </feature>
        </config-file>

        <source-file src="src/android/SmoochCordova.java" target-dir="src/io/smooch/cordova" />
        <source-file src="src/android/SmoochApplication.java" target-dir="src/io/smooch/cordova" />

        <hook type="after_plugin_install" src="scripts/afterInstall.js" />
        <hook type="before_plugin_uninstall" src="scripts/beforeUninstall.js" />

        <framework src="src/android/Smooch.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
